
.character-info {
  width: 400px;
  margin: 0 auto;
}

.character-info label {
  display: block;
  font-size: 1.2em;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.character-info input,
.character-info textarea {
  font-size: 1.2em;
  text-align: left;
  width: 400px;
  display: block;
  border: 2px solid grey;
  margin-bottom: 20px;
}

.character-info textarea {
  height: 180px;
}

.character-info .button {
  text-align: right;
}

.character-info button {
  width: 120px;
  font-size: 1.2em;
  text-transform: uppercase;
  border: 2px solid grey;
  padding: 8px;
}