* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: black;
}

body .page-container {
  width: 800px;
  padding: 0;
  margin: 0 auto;
  color: white;
}

.flex {
  display: flex;
}

.modal-window {
  flex: 600px;
  border: 2px solid white;
  height: 440px;
  text-align: center;
}

.character-slots {
  flex: 100px;
  height: 400px;
}

.character-slot {
  width: 100px;
  height: 100px;
  margin-bottom: 13px;
  margin-left: 13px;
  border: 1px solid black;
  background: #eee;
  color: black;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-size: 1.6em;
}

.modal-window h2 {
  margin: 0;
  padding: 0;
}

.character-info {
  width: 400px;
  margin: 0 auto;
}

.character-info label {
  display: block;
  font-size: 1.2em;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.character-info input,
.character-info textarea {
  font-size: 1.2em;
  text-align: left;
  width: 400px;
  display: block;
  border: 2px solid grey;
  margin-bottom: 20px;
}

.character-info textarea {
  height: 180px;
}

.character-info .button {
  text-align: right;
}

.character-info button {
  width: 120px;
  font-size: 1.2em;
  text-transform: uppercase;
  border: 2px solid grey;
  padding: 8px;
}